.Management {
  &__form {
    display: grid;
    grid-auto-flow: row;
    gap: 20px;
  }

  &__header {
    padding-bottom: 15px;
  }

  &__addButton {
    margin-left: auto;
    width: 150px;
  }

  &__body {
    display: grid;
    grid-template-columns: repeat(auto-fill, 150px);
  }
}

.BrandCard {
  &__name {
    font-size: 10px;
  }
}
