@import "src/styles/variables";

.Header {
  height: $header-height;

  &__container {
    @include container-width;

    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
  }

  &__logotype {
    text-transform: uppercase;
    font-weight: 700;
    grid-column: 2;
  }

  &__menu {
    display: grid;
    margin-left: auto;
    grid-column: 3;
  }

  &__icon {
    width: 15px;
  }
}
